{% extends "layout_template.njk" %}
{% from "components/csrf.njk" import csrfProtection %}
{% from "components/formElements.njk" import successBanner %}

{% block page_title %}
  Definitions
{% endblock %}
{% block head %}
  {{super()}}
  <script type="text/javascript">
  // var jurisdictionString = {{userprofiles |safe }}
  // var jurisdictionLookups = $.parseJSON(jurisdictionString);
  </script>
{% endblock %}

{% block container %}
<div class="padding">
  {{ successBanner(success) }}
  {% if error %}
    <div class="error-summary govuk-error-message">
      {{error.text}}
    </div>
  {% endif %}
  <a href="/createdefinition" class="govuk-button rightAlign" data-module="govuk-button">Create Definition</a>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Jurisdiction</th>
        <th scope="col" class="govuk-table__header">Case Type(s)</th>
        <th scope="col" class="govuk-table__header">Description</th>
        <th scope="col" class="govuk-table__header">Status</th>
        <th scope="col" class="govuk-table__header">Action</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% if dataItems.length == 0 %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <th scope="row" class="govuk-table__header">No Definitions found</th>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
        </tr>
      {% else %}
        {% for definition in dataItems %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{definition.jurisdiction.name}}</th>
            <td class="govuk-table__cell">{{definition.case_types}}</td>
            <td class="govuk-table__cell">{{definition.description}}</td>
            <td class="govuk-table__cell">{{definition.status}}</td>
            <td class="govuk-table__cell">
              <form id="definition_{{loop.index}}" method="post" action="/updatedefinition" >
                  {{ csrfProtection(csrfToken) }}
                  <input type="hidden" name="jurisdictionName" value="{{definition.jurisdiction.name}}" />
                  <input type="hidden" name="casetypes" value="{{definition.case_types}}" />
                  <input type="hidden" name="description" value="{{definition.description}}" />
                  <input type="hidden" name="status" value="{{definition.status}}" />
                  <input type="hidden" name="version" value="{{definition.version}}" />
                  <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">Update</button>
                    <a href="/deleteitem?item=definition&jurisdictionId={{definition.jurisdiction.id}}&version={{definition.version}}" class="govuk-button govuk-button--warning">Delete</a>
                  </div>
              </form>
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
