# exclude all by default

*

# exceptions from `exclude all` rule

!package.json
!yarn.lock
!.snyk
!.yarnrc.yml
!.yarn/**

!gulpfile.js
!tsconfig.json

!src/main/**
!types/**
!config/**
!server.js
!acb.yaml
!Dockerfile
