language: node_js
node_js:
  - "16.15.0"  # Docker
cache: yarn
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s
  - export PATH="$HOME/.yarn/bin:$PATH"
install:
  - npm install -g codecov
  - yarn install
script:
  - yarn --version
  - yarn sass
  - yarn check || echo 'yarn check failed'
  - yarn lint
  - yarn test
  - yarn test:routes
  - yarn test:a11y
  #- yarn test:nsp - reenable when we have solved RDM-2508
  - yarn test:coverage
after_success:
  - bash <(curl -s https://codecov.io/bash)

# dummy comment
