description: Helm chart for the HMCTS CCD Admin Web
name: ccd-admin-web
apiVersion: v2
home: https://github.com/hmcts/ccd-admin-web
version: 2.1.4
maintainers:
  - name: HMCTS CCD Dev Team
    email: ccd-devops@HMCTS.NET
dependencies:
  - name: nodejs
    version: 2.3.8
    repository: '@hmctspublic'
  - name: idam-pr
    version: 2.2.6
    repository: '@hmctspublic'
    condition: idam-pr.enabled
