description: Helm chart for the HMCTS CCD Admin Web
name: ccd-admin-web
apiVersion: v2
home: https://github.com/hmcts/ccd-admin-web
version: 2.2.8
maintainers:
  - name: HMCTS CCD Dev Team
    email: ccd-devops@HMCTS.NET
dependencies:
  - name: nodejs
    version: 3.1.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: idam-pr
    version: 2.2.6
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
