description: Helm chart for the HMCTS CCD Admin Web
name: ccd-admin-web
apiVersion: v2
home: https://github.com/hmcts/ccd-admin-web
version: 2.2.11
maintainers:
  - name: HMCTS CCD Dev Team
    email: ccd-devops@HMCTS.NET
dependencies:
  - name: nodejs
    version: 3.2.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
  - name: idam-pr
    version: 2.3.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: idam-pr.enabled
