nodejs:
  aadIdentityName: ccd
  image: 'hmctspublic.azurecr.io/ccd/admin-web:latest'
  ingressHost: ccd-admin-web.{{ .Values.global.environment }}.platform.hmcts.net
  applicationPort: 3100
  cpuLimits: 1
  autoscaling:
    enabled: false
    maxReplicas: 4
  environment:
    # Node specific vars
    USE_CSRF_PROTECTION: true
    SECURITY_REFERRER_POLICY: origin
    HPKP_MAX_AGE: 2592000
    HPKP_SHA256S: Set-proper-SHA256s
    NODE_ENV: production
    UV_THREADPOOL_SIZE: 64
    NODE_CONFIG_DIR: ./config
    TS_BASE_URL: ./src/main

    # Logging vars
    REFORM_TEAM: ccd
    REFORM_SERVICE_NAME: admin-web
    REFORM_ENVIRONMENT: "{{ .Values.global.environment }}"
    IDAM_SERVICE_NAME: ccd_admin
    SECURE_AUTH_COOKIE_ENABLED: true
    IDAM_OAUTH2_CLIENT_ID: ccd_admin

    IDAM_S2S_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    IDAM_BASE_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    IDAM_OAUTH2_TOKEN_ENDPOINT: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net/oauth2/token
    IDAM_OAUTH2_LOGOUT_ENDPOINT: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net/session/:token

    ADMINWEB_LOGIN_URL: "https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net/login"
    ADMINWEB_IMPORT_URL: "http://ccd-definition-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/import"
    ADMINWEB_JURISDICTIONS_URL: "http://ccd-definition-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/api/data/jurisdictions"
    ADMINWEB_USER_PROFILE_URL: "http://ccd-user-profile-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/users"
    ADMINWEB_SAVE_USER_PROFILE_URL: "http://ccd-user-profile-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/users/save"
    ADMINWEB_USER_ROLE_URL: "http://ccd-definition-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/api/user-role"
    ADMIN_ALL_USER_ROLES_URL: "http://ccd-definition-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/api/user-roles"
    ADMINWEB_CREATE_DEFINITION_URL: "http://ccd-definition-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/api/draft"
    ADMINWEB_UPDATE_DEFINITION_URL: "http://ccd-definition-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/api/draft/save"
    ADMINWEB_DELETE_DEFINITION_URL: "http://ccd-definition-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/api/draft"
    ADMINWEB_DEFINITIONS_URL: "http://ccd-definition-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/api/drafts"
    ADMINWEB_WHOAMI_URL: "http://ccd-definition-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/api/idam/profile"
    ADMINWEB_AUTHORIZATION_URL: "http://ccd-definition-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/api/idam/adminweb/authorization"
    ADMINWEB_IMPORT_AUDITS_URL: "http://ccd-definition-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/api/import-audits"
    ADMINWEB_ELASTIC_INDEX_URL: "http://ccd-definition-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/elastic-support/index"
    ADMINWEB_ELASTIC_CASE_TYPES_URL: "http://ccd-definition-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/elastic-support/case-types"
    ADMINWEB_GLOBAL_SEARCH_INDEX_URL: "http://ccd-definition-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/elastic-support/global-search/index"
    ADMINWEB_GET_DICTIONARY_URL: "http://ts-translation-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/dictionary"

    ADMINWEB_ROLES_WHITELIST: "ccd-import,ccd-import-validate,manage-translations,load-translations"
  keyVaults:
    ccd:
      secrets:
        - microservicekey-ccd-admin
        - ccd-admin-web-oauth2-client-secret
        - AppInsightsInstrumentationKey


idam-pr:
  enabled: false
