<div class="govuk-form-group">
  <select id="jurisdictionName" name="jurisdictionName" class="govuk-select">
    <option value="" selected>--Select a value--</option>
    {% for jurisdiction in jurisdictions %}
      <option value="{{ jurisdiction.id }}">{{jurisdiction.name}}</option>
    {% endfor %}
  </select>
</div>
