{% extends "layout_template.html" %}
{% from "../macros/formElements.html" import yesNoRadioHeading %}
{% from "../macros/csrf.html" import csrfProtection %}
{% block page_title %}
  Confirm Delete User Profile
{% endblock %}

{% block head%}
  {{super()}}
{% endblock %}
 {% block content %}
 {% include "menu.html" %}
    <h2 class="heading-large padding">Confirm Delete User Profile</h2>
     {% if (error)%}
        <div class="error-summary govuk-error-message">
            {{error.text}}
        </div>
    {% endif %}
    <div class="padding-deeper">
      <form id="confirmdelete" name="confirmdelete" method="POST" action="/deleteuserprofile">
       <input id="idamId" name="idamId" type="hidden" value="{{idamId}}">
        {{ csrfProtection(csrfToken) }}
        {{ yesNoRadioHeading(
            legend = warning,
            name = 'deleteUser',
            field = response,
            yes = 'Yes',
            no = 'No'
        ) }}
        <button type="submit" class="button" value="Submit">Submit</button>
      </form>
    </div>
{% endblock %}
