{% extends "layout_template.html" %}
{% from "../macros/formElements.html" import dropdown %}
{% from "../macros/formElements.html" import dateMacro %}
{% from "../macros/csrf.html" import csrfProtection %}
{% block page_title %}
  CCD Admin Web
{% endblock %}
{% block head%}
  {{super()}}

  <script type="text/javascript">
  var jurisdictionString = {{jurisdictions |safe }}
  var jurisdictionLookups = $.parseJSON(jurisdictionString);
  var idamId = "{{idamId |safe }}"

  var updateCaseTypeBasedOn = function(index) {

    var listItems= "<option value=''  selected>--Select a value--</option>";

    if(index > -1){
        var case_types = jurisdictionLookups[index].case_types;
        for (var i = 0; i < jurisdictionLookups[index].case_types.length; i++){
            listItems+= "<option value='" + case_types[i].id + "'>" + case_types[i].name + "</option>";
        }
    }
    $("select#caseTypeDropdown").html(listItems);
    $("select#stateDropdown").html("<option value=''  selected>--Select a value--</option>");
  }

  var populateStateDropdown = function () {
        var jurisdictionIndex = $("select#jurisdictionDropdown")[0].selectedIndex -1;
       var caseTypeIndex = $("select#caseTypeDropdown")[0].selectedIndex -1;
        var listItems= "<option value='' selected>--Select a value--</option>";
        if(caseTypeIndex > -1){
            var stateTypes = jurisdictionLookups[jurisdictionIndex].case_types[caseTypeIndex].states;
 
            for (var i = 0; i < stateTypes.length; i++){
            listItems+= "<option value='" + stateTypes[i].id + "'>" + stateTypes[i].name + "</option>";
            }
        }
         $("select#stateDropdown").html(listItems);
  }

  $(document).ready(function(){
        $('#createuserform').validate({ // initialize the plugin
            onkeyup: false,
            onclick: false,
            onfocusout: false,
        errorPlacement: function (error, element) {
                error.insertBefore(element);
            },
            errorElement : 'div',
            errorElementClass: 'error',
            errorClass: 'govuk-error-message form-group-error',
            rules: {
                idamId: {
                    required: true,
                    email: true
                },
                jurisdictionDropdown: {
                    required: true
                },
                caseTypeDropdown: {
                    required: true
                },
                stateDropdown: {
                    required: true
                }
            },
            messages :{
                "idamId" : {
                    required : 'Enter idam Id',
                    email: 'Email address invalid'
                },
                "jurisdictionDropdown": {
                    required : 'Choose a jurisdiction'
                },
                "caseTypeDropdown": {
                    required : 'Choose a case type'
                },
                "stateDropdown": {
                    required : 'Choose a state'
                }
            }
        });

    $("select#jurisdictionDropdown").on('change',function(){
        var str = "";
        $( "select#jurisdictionDropdown option:selected" ).each(function() {
            updateCaseTypeBasedOn($("select#jurisdictionDropdown")[0].selectedIndex -1);
      
        });
     });
      $("select#caseTypeDropdown").on('change',function(){
        populateStateDropdown();
      });

    var listItems= "<option value=''>--Select a value--</option>";
    for (var i = 0; i < jurisdictionLookups.length; i++){  
        listItems+= "<option value='" + jurisdictionLookups[i].id + "'>" + jurisdictionLookups[i].name + "</option>";
    }
    $("select#jurisdictionDropdown").html(listItems);
    
    {% if idamId%}
        $('select#jurisdictionDropdown>option').filter(function() { return $(this).val() == "{{jurisdiction}}"; }).prop('selected', true);
        updateCaseTypeBasedOn($("select#jurisdictionDropdown")[0].selectedIndex -1);
        $('select#caseTypeDropdown>option').filter(function() { return $(this).val() == "{{casetype}}"; }).prop('selected', true);
        populateStateDropdown();
         $('select#stateDropdown>option').filter(function() { return $(this).val() == "{{state}}"; }).prop('selected', true);

    {% endif %}
  });

</script>
{%endblock%}
 {% block content %}
 {% include "menu.html" %}
<h2 class="heading-large padding">{{heading}}</h2>

<div class="padding">
    {% if (error)%}
        <div class="error-summary govuk-error-message">
            {{error.text}}
        </div>
    {% endif %}

    <form id="createuserform" name="createuserform" method="POST" action="/createuser">
    
      {{ csrfProtection(csrfToken) }}
        <div class="form-group">
          <input class="form-control" id="currentjurisdiction" name="currentjurisdiction" type="hidden" value="{{currentjurisdiction}}">
            <label class="form-label" for="first-name-2">User idam ID</label>
            {% if idamId%}
                <label class="form-label-bold" >{{idamId}}</label><br><br>
                 <input class="form-control" id="idamId" name="idamId" type="hidden" value="{{idamId}}"/>
                 <input class="form-control" id="update" name="update" type="hidden" value="{{update}}"/>
                 
            {% else %}
                <input class="form-control" id="idamId" name="idamId" type="text"/><br><br> 
            {% endif%} 
            <input type="hidden" id="jurisdiction" name="jurisdiction" value="{{jurisdiction | safe}}"/>
        <label class="form-label">Live from</label>
            {{ dateMacro() }}
            <label class="form-label">Live to</label>
            {{ dateMacro() }}
            <label class="form-label" >Work basket default jurisdiction</label>
            {{  dropdown("jurisdictionDropdown") }}
            <label class="form-label">Work basket default case type</label>
            {{   dropdown("caseTypeDropdown") }}
            <label class="form-label">Work basket default state</label>
            {{  dropdown("stateDropdown")}}
        </div> 
        <button type="submit" class="button" value="Submit">{{submitButtonText}}</button>
         <a href="/userprofiles" class="button">Cancel</a>
    </form>
    </div>
  
  {% endblock %}


