{% extends "layout_template.njk" %}
{% from "../components/formElements.njk" import dropdown %}
{% from "../components/csrf.njk" import csrfProtection %}
{% block page_title %}
  {{ heading }}
{% endblock %}
{% block head%}
  {{super()}}

  <script type="text/javascript">
  var jurisdictionString = {{jurisdictions | safe }}
  var jurisdictionLookups = $.parseJSON(jurisdictionString);
  var idamId = "{{idamId | safe }}"

  var updateCaseTypeBasedOn = function(index) {

    var listItems= "<option value=''  selected>--Select a value--</option>";

    if(index > -1){
        var case_types = jurisdictionLookups[index].case_types;
        for (var i = 0; i < jurisdictionLookups[index].case_types.length; i++){
            listItems+= "<option value='" + case_types[i].id + "'>" + case_types[i].name + "</option>";
        }
    }
    $("select#caseTypeDropdown").html(listItems);
    $("select#stateDropdown").html("<option value=''  selected>--Select a value--</option>");
  }

  var populateStateDropdown = function () {
        var jurisdictionIndex = $("select#jurisdictionDropdown")[0].selectedIndex -1;
       var caseTypeIndex = $("select#caseTypeDropdown")[0].selectedIndex -1;
        var listItems= "<option value='' selected>--Select a value--</option>";
        if(caseTypeIndex > -1){
            var stateTypes = jurisdictionLookups[jurisdictionIndex].case_types[caseTypeIndex].states;

            for (var i = 0; i < stateTypes.length; i++){
            listItems+= "<option value='" + stateTypes[i].id + "'>" + stateTypes[i].name + "</option>";
            }
        }
         $("select#stateDropdown").html(listItems);
  }

  $(document).ready(function(){
        $('#createuserform').validate({ // initialize the plugin
            onkeyup: function(element) {$(element).valid()},
            onclick: function(element) {$(element).valid()},
            onfocusout: false,
        errorPlacement: function (error, element) {
                error.insertBefore(element);
            },
            errorElement : 'div',
            errorElementClass: 'error',
            errorClass: 'govuk-error-message govuk-form-group-error',
            rules: {
                idamId: {
                    required: true,
                    email: true
                },
                jurisdictionDropdown: {
                    required: true
                },
                caseTypeDropdown: {
                    required: true
                },
                stateDropdown: {
                    required: true
                }
            },
            messages :{
                "idamId" : {
                    required : 'Enter IdAM Id',
                    email: 'Email address invalid'
                },
                "jurisdictionDropdown": {
                    required : 'Choose a jurisdiction'
                },
                "caseTypeDropdown": {
                    required : 'Choose a case type'
                },
                "stateDropdown": {
                    required : 'Choose a state'
                }
            }
        });

    $("select#jurisdictionDropdown").on('change',function(){
        var str = "";
        $( "select#jurisdictionDropdown option:selected" ).each(function() {
            updateCaseTypeBasedOn($("select#jurisdictionDropdown")[0].selectedIndex -1);

        });
     });
      $("select#caseTypeDropdown").on('change',function(){
        populateStateDropdown();
      });

    var listItems= "<option value=''>--Select a value--</option>";
    for (var i = 0; i < jurisdictionLookups.length; i++){
        listItems+= "<option value='" + jurisdictionLookups[i].id + "'>" + jurisdictionLookups[i].name + "</option>";
    }
    $("select#jurisdictionDropdown").html(listItems);

    {% if idamId%}
        $('select#jurisdictionDropdown>option').filter(function() { return $(this).val() == "{{jurisdiction}}"; }).prop('selected', true);
        updateCaseTypeBasedOn($("select#jurisdictionDropdown")[0].selectedIndex -1);
        $('select#caseTypeDropdown>option').filter(function() { return $(this).val() == "{{casetype}}"; }).prop('selected', true);
        populateStateDropdown();
         $('select#stateDropdown>option').filter(function() { return $(this).val() == "{{state}}"; }).prop('selected', true);

    {% endif %}
  });

</script>
{%endblock%}
{% block content %}
  <h1 class="govuk-heading-l">{{ heading }}</h1>
  <div class="padding">
    {% if (error)%}
        <div class="error-summary govuk-error-message">
            {{error.text}}
        </div>
    {% endif %}

    <form id="createuserform" name="createuserform" method="POST" action="/createuser">

      {{ csrfProtection(csrfToken) }}
        <div class="govuk-form-group">
          <input class="govuk-input" id="currentjurisdiction" name="currentjurisdiction" type="hidden" value="{{currentjurisdiction}}">
          <label class="govuk-label" for="first-name-2">User IdAM ID</label>
          <div class="govuk-form-group">
          {% if idamId%}
              <label class="govuk-label" for="idamId">{{idamId}}</label>
              <input class="govuk-input" id="idamId" name="idamId" type="hidden" value="{{idamId}}"/>
              <input class="govuk-input" id="update" name="update" type="hidden" value="{{update}}"/>
          {% else %}
              <input class="govuk-input govuk-input--width-20" id="idamId" name="idamId" type="text"/>
          {% endif%}
          </div>
          <input type="hidden" id="jurisdiction" name="jurisdiction" value="{{jurisdiction | safe}}"/>
          {{  dropdown("jurisdictionDropdown", "Work basket default jurisdiction") }}
          {{  dropdown("caseTypeDropdown", "Work basket default case type") }}
          {{  dropdown("stateDropdown", "Work basket default state")}}
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button" value="Submit">{{submitButtonText}}</button>
        <a href="/userprofiles" class="govuk-button govuk-button--warning" data-module="govuk-button">Cancel</a>
    </form>
  </div>
{% endblock %}
