{% extends "layout_template.njk" %}
{% from "components/formElements.njk" import yesNoRadioHeading %}
{% from "components/csrf.njk" import csrfProtection %}
{% block page_title %}
  Confirm Delete {{ headingItem }}
{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1 class="govuk-heading-l">Confirm Delete {{ headingItem }}</h1>
  {% if (error) %}
    <div class="error-summary govuk-error-message">
      {{ error.text }}
    </div>
  {% endif %}
  <div class="padding">
    <form id="confirmdelete" name="confirmdelete" method="POST" action="/delete{{ itemToDelete }}">
      {% if (itemToDelete === "user") %}
        <input id="idamId" name="idamId" type="hidden" value="{{ idamId }}"/>
      {% endif %}
      {% if (itemToDelete === "role") %}
        <input id="role" name="role" type="hidden" value="{{ role }}"/>
      {% endif %}
      {% if (itemToDelete === "definition") %}
        <input id="jurisdictionId" name="jurisdictionId" type="hidden" value="{{ currentJurisdiction }}"/>
        <input id="definitionVersion" name="definitionVersion" type="hidden" value="{{ version }}"/>
      {% endif %}
      <input id="itemToDelete" name="itemToDelete" type="hidden" value="{{ itemToDelete }}"/>
        {{ csrfProtection(csrfToken) }}
        {{ yesNoRadioHeading(
            legend = warning,
            name = 'deleteItem',
            field = response,
            yes = 'Yes',
            no = 'No'
        ) }}
      <button type="submit" class="button" value="Submit">Submit</button>
    </form>
  </div>
{% endblock %}
