{% extends "layout_template.njk" %}
{% block page_title %}
  Error
{% endblock %}
{% block content %}
  <div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
      {% if error.error %}
        <h1 class="govuk-error-summary__title">
          {{ error.error | safe }}
        </h1>
      {% else %}
        <h1 class="govuk-error-summary__title">
          {{ error.name }}
        </h1>
      {% endif %}
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% if error.status %}
            <li>{{ error.message }} ({{ error.status }})</li>
          {% else %}
            <li>{{ error }}</li>
          {% endif %}
          <li>{{ error.response.text if error.response else error.text }}</li>
          <li>
            <a href="/#" class="govuk-button" data-module="govuk-button">
              Return to home page
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
