{% extends "govuk_template.html" %}

{% block page_title %}
  CCD Admin Web
{% endblock %}
 {% block head %}
 <link rel="stylesheet" media="all" href="stylesheets/app.css"/>
 {% endblock %}
 {% block content %}
 {% include "menu.njk" %}
<h2 class="heading-large padding">Import Case Definition</h2>
 <div class="grid-row">
     <div class="column-two-thirds padding">

     <form action="/import" method="post" enctype="multipart/form-data">
           <div class="form-group">
             {% include "response.html" %}
             {% include "error-message.html" %}
            <input type="file" id="file" name="file" accept=".xlsx"/>
           </div>
           <div class="form-group">
             <button type="submit" class="button" value="Submit">Submit</button>
           </div>
         </form>

     </div>

 </div>


  {% endblock %}

