<html lang="en">
  <head>
    <title>CCD Admin Web</title>
  </head>
  <body>
    {% include "error-banner.njk" %}
    <h1>Import Case Definition</h1>
    <form action="/import" method="post" enctype="multipart/form-data">
      <div class="form-group">
        {% include "message.njk" %}
        {% include "error.njk" %}
        <input type="file" id="file" name="file" accept=".xlsx"/>
      </div>

      <div class="form-group">
        <button type="submit" value="Submit">Submit</button>
      </div>
    </form>
  </body>
</html>
