{% from "macros/csrf.html" import csrfProtection %}

 {% block content %}
 {% if importAudits?.length == 0 %}
 <table border="1">
    <thead>
    <tr>
      <th>
        <div class="boldcontents" align="center">Imports audits are not found</div>
      </th>
    </tr>
    </thead>
 </table>
 {%else%}
  <div class="padding ngx-pagination">
    <table border="1">
    <thead>
    <tr>
      <th>Date Imported</th>
      <th>Who Imported</th>
      <th>Case Type</th>
      <th>Filename</th>
    </tr>
    </thead>
    <tbody>
    {% for audit in importAudits %}
    <tr >
      <td>
        {{audit.date_imported}}
      </td>
      <td>
        {{audit.who_imported}}
      <td style='width: 350px;max-width: 350px;float: left;white-space: nowrap;overflow: hidden;'>
        {{audit.case_type}}
      </td>
      <td>
        {{audit.filename}}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
 {% endif %}

 {% endblock %}

