{% extends "layout_template.html" %}
{% from "macros/csrf.html" import csrfProtection %}
{% from "macros/formElements.html" import errorsFor %}
{% from "macros/formElements.html" import jurisdictionList %}

 {% block content %}
 {% include "menu.html" %}
<h2 class="heading-large padding">Jurisdiction Search</h2>
 <div class="grid-row padding">
     <div class="column-two-thirds padding">
     <form action="/userprofiles" method="post">
            {{ csrfProtection(csrfToken) }}
            {{  jurisdictionList(jurisdictions) }}
             {{ errorsFor(error)}}
             <div class="form-group">
             <button type="submit" class="button" value="Submit">Submit</button>
           </div>
         </form>

     </div>

 </div>
  {% endblock %}

