{% extends "layout_template.njk" %}
{% from "components/csrf.njk" import csrfProtection %}
{% from "components/formElements.njk" import serverList %}


{% block content %}
  <h1 class="govuk-heading-l">Jurisdiction Search</h2>
  <div class="govuk-grid-row padding">
    <div class="govuk-grid-column-two-thirds padding">
      <form id="selectJurisdiction" action="/{{ destination }}" method="post">
        {{ csrfProtection(csrfToken) }}
        {{ serverList(jurisdictions, "jurisdictionName", "true") }}
        <div class="govuk-form-group">
          <button type="submit" class="govuk-button" data-module="govuk-button" value="Submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
