{% extends "layout_template.html" %}

{% block page_title %}
  Jurisdiction
{% endblock %}
 {% block head%}
  {{super()}}
  <script type="text/javascript">
 // var jurisdictionString = {{userprofiles |safe }}
 // var jurisdictionLookups = $.parseJSON(jurisdictionString);
  </script>
 {% endblock %}

 {% block content %}
 
 {% if sucess%}
 <div class="success"><div class="admin-ui">User created sucessfully</div></div>
 {% endif%}
 <a href="/createuser" class="button rightAlign" value="Submit">Create User</a>
<div class="padding ngx-pagination">
   <table border="1">
  <thead>
  <tr> <th colspan="5">

  </tr>
  <tr>
    <th class="search-result-column-label">User Idam IDs  <a class="sort-widget" >&#9660; &#9650;</a></th>
    <th>
      Work basket default jurisdiction
    </th>
    <th >
    Work basket default case type
    </th>
      <th >
    Work basket default state
    </th>
     <th>Action
    </th>
  </tr>
  </thead>
  <tbody>
  {% for userprofile in userprofiles %}
  <tr >
    <td>
      <a href="">  <div> {{userprofile.id}} </div></a>
    </td>
    <td>
      <div>
       {{userprofile.work_basket_default_jurisdiction}}
      </div>
    </td>
    <td>
        <div>
           {{userprofile.work_basket_default_case_type}}
        </div>
    </td>
     <td>
        <div>
           {{userprofile.work_basket_default_state}}
        </div>
    </td>
     <td>
        <div>
         <a href="#">Edit</a>
        </div>
    </td>
  </tr>
  {% endfor %}
  </tbody>
  <tfoot>
   <tr> <th colspan="5">

  </tr>
  </tfoot>
</table>
</div>
<div class="notification">

</div>


  {% endblock %}

