{% extends "govuk_template.html" %}
{% block page_title %}
  CCD Admin Web
{% endblock %}
 {% block head %}
 <link rel="stylesheet" media="all" href="stylesheets/app.css"/>
  <script type="text/javascript" src="js/lib/jquery.min.js"></script>
  <script type="text/javascript">
   /**   window.onload = function() {
          if (window.jQuery) {  
              // jQuery is loaded  
              alert("Yeah!");
          } else {
              // jQuery is not loaded
              alert("Doesn't Work");
          }
      }*/
</script>
 {% endblock %}