{% extends "layout_template.njk" %}
{% from "components/formElements.njk" import errorsFor, successBanner %}
{% block content %}
  {{ successBanner(success) }}
  <h1 class="govuk-heading-l">Import Welsh Translations</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/manageWelshDictionary" method="post" enctype="multipart/form-data">
        <div class="govuk-form-group">
          {% if not error %}
            <p class="govuk-body">Choose a csv file containing translations in one of the following formats :</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>"englishPhrase","welshPhrase"</li>
              <li>"englishPhrase","welshPhrase","yesOrNo","yes","no"</li>
            </ul>
          {% endif %}
          {% if error %}
            <div class="error-summary govuk-error-message">
              {{ errorsFor("file", error) }}
            </div>
          {% endif %}
          <label class="govuk-label" for="file">
            Upload a .csv file
          </label>
          <input class="govuk-file-upload" type="file" id="file" name="file" accept=".csv"/>
        </div>
        {% if adminWebAuthorization.canLoadWelshTranslation or adminWebAuthorization.canManageWelshTranslation %}
          <div class="govuk-form-group">
            <button type="submit"  class="govuk-button" data-module="govuk-button" value="Submit">Submit</button>
          </div>
        {% else %}
          <p class="govuk-body">User does not have access rights</p>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
