{% extends "layout_template.html" %}
{% from "macros/csrf.html" import csrfProtection %}

{% block page_title %}
  User Roles
{% endblock %}
 {% block head%}
  {{super()}}
  <script type="text/javascript">
 // var jurisdictionString = {{userprofiles |safe }}
 // var jurisdictionLookups = $.parseJSON(jurisdictionString);
  </script>
 {% endblock %}

 {% block content %}
  {% include "menu.html" %}
  {% if success%}
    <div class="success"><div class="admin-ui">&#10004;   {{success | safe}}</div></div>
  {% endif%}
  {% if (error)%}
        <div class="error-summary govuk-error-message">
            {{error.text}}
        </div>
  {% endif %}
 <a href="/create-user-role-form?save=create" class="button rightAlign">Create User Role</a>
 {% if userroles.length == 0 %}
 <table border="1">
    <thead>
    <tr>
      <th colspan="3">
        <div class="boldcontents" align="center"> No User Roles found</div>
      </th>
    </tr>
    </thead>
</table>
  {%else%}
  <div class="padding ngx-pagination">
    <table border="1">
    <thead>
    <tr> <th colspan="3">

    </tr>
    <tr>
      <th>Role</th>
      <th>
        Security Classification
      </th>
      <th>Action
      </th>
    </tr>
    </thead>
    <tbody>
    {% for userrole in userroles %}
    <tr >
      <td>
      <form id="userrole_{{loop.index}}" method="post" action="/updateuserroleform" >
        {{ csrfProtection(csrfToken) }}
        <input type="hidden" name="role" value="{{userrole.role}}" />
        <input type="hidden" name="classification" value="{{userrole.security_classification}}" />
        <a href="#" onclick="document.getElementById('userrole_{{loop.index}}').submit();"><div>{{userrole.role}}</div></a>
      </form>
      </td>
      <td>
        <div>
        {{userrole.security_classification}}
        </div>
      </td>
      <td>
        <a href="/deleteitem?item=role&roleParameter={{userrole.role| urlencode}}" class="button">Delete</a>
      </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr> <th colspan="3">

    </tr>
    </tfoot>
  </table>
  </div>
 {% endif %}

  {% endblock %}

