$path: '/assets/';

@import "govuk-frontend/dist/govuk/index";
$fa-font-path: './node_modules/font-awesome/fonts';
$nta-font-path: './node_modules/govuk-frontend/dist/govuk/assets/fonts';

// Start new In house GOV Template
.padding {
  padding: 15px;
}

.rightAlign {
  float: right;
  margin-right: 50px;
}

.logout {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.error {
  display: block;
  border: 5px solid #ffdddd;
  color: red
}
