$path: '/assets/';

@import './node_modules/govuk-elements-sass/public/sass/_govuk-elements.scss';
$fa-font-path: './node_modules/font-awesome/fonts';
$govuk-frontend-toolkit-image-path: '/assets';
$govuk-template-image-path: '/assets';
$pdk-image-path: '/assets';
$nta-font-path: '/node_modules/@govuk/platform-template/assets/fonts';


// PDK's footer fix
#footer .footer-meta {
  .footer-meta-inner .open-government-licence .logo a {
    background: url('#{$govuk-template-image-path}/open-government-licence.png') no-repeat;
  }
}

pre.error-message {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.descr {
  margin-bottom: 11px;
}

.choseBtn {
  line-height: 0;
  width: 700px;
}

.def-error {
  margin-bottom: 18px;
}

.def-succ {
  margin-bottom: 16px;
}

@media (max-width: 991px) {

  // Add bottom margin when column are stacked up
  [class*='col-md'] {
    margin-bottom: 30px;
  }
}

// Start new In house GOV Template
.padding {
  padding: 15px;
}

.padding-deeper {
  padding: 35px;
}

.rectangle-2-copy {
  width: 1024px;
  height: 693px;
  border: solid 1px #979797;
}

.fill-5 {
  width: 1024px;
  height: 55px;
  background-color: #000000;
  color: #000;
}

.ccd-configuration-ui {
  width: 359px;
  height: 23px;
  font-family: LucidaGrande;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.rectangle-18 {
  background-color: #0074b4;
  height: 54.8px;
  width: 1024px;
}

.admin-ui {
  width: 100%;
  height: 2%;
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: left;
  border: 10px;
  padding: 10px;
  color: #ffffff;
}

table, tbody, td, tr {
  padding: 0;
  border: none !important;
  margin: 0;
}

.tableCSS {
  width: 100px;
}

.tdCSS {
  width: 25px;
  border: 1px;
  margin: 0;
}

.rightAlignNoMargin {
  float: right;
}

.date {
  width: 50px;
}

.rightAlign {
  float: right;
  margin-right: 50px;
}

.govuk-error-message {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: block;
  margin-bottom: 15px;
  clear: both;
  color: #b10e1e;
}

.success {
  width: 100%;
  height: 40px;
  background-color: #006435;
  margin-bottom: 3px;
}

.error {
  display: block;
  border: 5px solid #ffdddd;
  color: red
}

hr {
  display: block;
  background: #bfc1c3;
  border: 0;
  height: 1px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.govuk-fieldset__legend {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0b0c0c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  margin-bottom: 15px;
  padding: 0;
  overflow: hidden;
  white-space: normal;
}

.disableborder {
  border-color: darkgray;
}

.govuk-fieldset__legend--xl {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.09375; 
}

.boldcontents {
  font-weight: bold;
}

.proposition-container {
  margin: 0 15px;
  line-height: 2 !important;
}

.proposition-item {
  float: left;
  margin-left: 10px;
  font-size: 16px;
  @at-root #{selector-append(a, &)} {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
