{% macro errorsFor(error) -%}
    {% if error.text %}
      <span class="error-message">
        {{ error.text | safe}}
      </span>
    {% endif %}
{%- endmacro %}

{% macro jurisdictionList(jurisdictions) -%}
<div class="form-group">
       <select id="jurisdictionName" name="jurisdictionName" class="form-control">
                <option value="" selected>--Select a value--</option>
                {% for jursidiction in jurisdictions %}
                    <option value="{{ jursidiction.id }}">{{jursidiction.name}}</option>
                {%endfor%}
        </select> 
</div> 
{%- endmacro %}    
{% macro dropdown(name) -%}
<div class="form-group">
       <select id="{{name}}" name="{{name}}" class="form-control">
                <option value="" selected>--Select a value--</option>
        </select> 
</div> 
{%- endmacro %} 
{% macro dateMacro() -%}
    <table class="tableCSS">

        <tr>
            <td><label class="date" for="Day-1">Day</label></td>
            <td><label class="form-label date" for="Month-1">Month</label></td> 
            <td><label class="form-label date" for="Year-1">Year</label></td>

        </tr>
        <tr>
            <td class="tdCSS"> <input class="form-control date disableborder" id="Day-1" name="Day-1" type="text" size="2" disabled></td>
            <td class="tdCSS"> <input class="form-control date disableborder" id="Month-1" name="Month-1" type="text" size="2" disabled></td> 
            <td class="tdCSS"><input class="form-control date disableborder" id="Year-1" name="Year-1" type="text" size="4" disabled></td>
        </tr>        
        </table><br>
{%- endmacro %} 