{% macro errorsFor(error) -%}
    {% if error.text %}
      <span class="error-message">
        {{ error.text | safe}}
      </span>
    {% endif %}
    {% if error.error %}
        <span class="error-message">
          {{ error.error | safe}}
        </span>
    {% endif %}

{%- endmacro %}

{% macro serverList (list , name , selectValue) -%}
<div class="form-group">
       <select id="{{name}}" name="{{name}}" class="form-control required">
                {% if selectValue %}
                <option value="" selected>--Select a value--</option>
                {% endif %}
                {% for element in list %}
                    <option value="{{ element.id }}"  {% if selectValue == "false" %}
                    {{ "selected" if loop.index == 0 }} {% endif %}>{{element.name}}</option>
                {%endfor%}
        </select>
</div>
{%- endmacro %}
{% macro serverListChosenValue (list , name , chosenValue) -%}
<div class="form-group">
       <select id="{{name}}" name="{{name}}" class="form-control">
                {% for element in list %}
                    <option value="{{ element.id }}"  {% if chosenValue %}
                    {{ "selected" if element.name == chosenValue }}
                    {% else %}
                    {{ "selected" if loop.index == 0 }} {% endif %}>{{element.name}}</option>
                {% endfor %}
        </select>
</div>
{%- endmacro %}
{% macro dropdown(name) -%}
<div class="form-group">
       <select id="{{name}}" name="{{name}}" class="form-control">
                <option value="" selected>--Select a value--</option>
        </select>
</div>
{%- endmacro %}
{% macro dateMacro() -%}
    <table class="tableCSS">

        <tr>
            <td><label class="date" for="Day-1">Day</label></td>
            <td><label class="form-label date" for="Month-1">Month</label></td>
            <td><label class="form-label date" for="Year-1">Year</label></td>

        </tr>
        <tr>
            <td class="tdCSS"> <input class="form-control date disableborder" id="Day-1" name="Day-1" type="text" size="2" disabled></td>
            <td class="tdCSS"> <input class="form-control date disableborder" id="Month-1" name="Month-1" type="text" size="2" disabled></td>
            <td class="tdCSS"><input class="form-control date disableborder" id="Year-1" name="Year-1" type="text" size="4" disabled></td>
        </tr>
        </table><br>
{%- endmacro %}


{% macro radioButton(value, label, name, field, dataTarget = '', screenReader = '') -%}
   <div class="multiple-choice" data-target="{{ dataTarget }}">
      <input id="{{ name }}_{{ value }}" type="radio" name="{{ name }}"
               value="{{ value }}" {{ 'checked=checked ' if field.value === value }} >
      <label for="{{ name }}_{{ value }}">
        {%- if screenReader -%}
        <span class="visually-hidden">{{ screenReader | safe }}</span>
        {%- endif -%}
        {{ label | safe }}
      </label>
    </div>
{%- endmacro %}

{% macro yesNoRadio(label = '', hint, name, field, yes, no) -%}
    <div id="{{ name }}" class="form-group {{ 'form-group-error' if field.error }}">
        <fieldset class="inline">
            <legend class="form-label text">{{ label | safe }}</legend>
            <p class="form-hint text">{{ hint | safe }}</p>
            {{ errorsFor(field) }}
            {{ radioButton('Yes', yes, name, field) }}
            {{ radioButton('No', no, name, field) }}
        </fieldset>
    </div>
{%- endmacro %}

{% macro yesNoRadioHeading(legend, name, field, yes, no, hint = '', targetYes = '', targetNo = '', screenReader = '') %}
    <div id="{{ name }}" class="form-group {{ 'form-group-error' if field.error }}">
        <fieldset class="inline">
            <legend class="govuk-fieldset__legend--xl">{{ legend | safe }}</legend>

            {% if hint %}
                <p class="text form-hint">{{ hint | safe }}</p>
            {% endif %}

            {{ errorsFor(field) }}

            {{ radioButton('Yes', yes, name, field, targetYes, screenReader) }}
            {{ radioButton('No', no, name, field, targetNo, screenReader) }}

       </fieldset>
    </div>
{% endmacro %}

{% macro errorDisplay(error) %}
  {% if error.status %}
    <p>{{ error.message }} ({{ error.status }})</p>
  {% else %}
    <p>{{ error }}</p>
  {% endif %}
<p>{{ error.response.text if error.response else error.text }}</p>
{% endmacro %}
