useCSRFProtection: true
security:
  referrerPolicy: origin
  hpkp:
    maxAge: 2592000
    sha256s:
      - TODO
      - Set-proper-SHA256s
  directives:
    fontSrc: 'self data:'
    scriptSrc: ['self', 'unsafe-inline', 'www.google-analytics.com', 'hmctspiwik.useconnect.co.uk']
    connectSrc: 'self'
    mediaSrc: 'self'
    frameSrc: 'none'
    imgSrc: ['self', 'www.google-analytics.com', 'hmctspiwik.useconnect.co.uk']
  roles_whitelist: "ccd-import"
  secure_auth_cookie_enabled: false
idam:
  base_url: http://localhost:4501
  s2s_url: http://localhost:4502
  admin_web_service_key: AAAAAAAAAAAAAAAD
  service_name: ccd_admin
  oauth2:
    token_endpoint: http://localhost:4501/oauth2/token
    logout_endpoint: http://localhost:4501/session/:token
    client_id: ccd_admin
    client_secret: IIIIIIIIIIIIIIII
adminWeb:
  login_url: https://localhost:3501/login
  import_url: http://localhost:4451/import
  whoami_url: http://localhost:4451/api/idam/profile
  authorization_url: http://localhost:4451/api/idam/adminweb/authorization
  jurisdiction_url: http://localhost:4451/api/data/jurisdictions
  userprofiles_url: http://localhost:4453/users
  saveuserprofiles_url: http://localhost:4453/users/save
  userrole_url: http://localhost:4451/api/user-role
  alluserroles_url: http://localhost:4451/api/user-roles
  import_audits_url: http://localhost:4451/api/import-audits
  createdefinition_url: http://localhost:4451/api/draft
  updatedefinition_url: http://localhost:4451/api/draft/save
  deletedefinition_url: http://localhost:4451/api/draft
  definitions_url: http://localhost:4451/api/drafts
appInsights:
  instrumentationKey: "some-key"
  enabled: true
  roleName: "ccd-admin-web"
