{% extends "layout_template.html" %}
{% from "../macros/formElements.html" import serverList      %}
{% from "../macros/formElements.html" import dateMacro %}
{% from "../macros/csrf.html" import csrfProtection %}
{% block page_title %}
  Create User role
{% endblock %}
{% block head%}
  {{super()}}

  <script type="text/javascript">

  $(document).ready(function(){
  });

</script>
{%endblock%}
 {% block content %}
 {% include "menu.html" %}
<h2 class="heading-large padding">Create User Roles</h2>

<div class="padding">
    {% if (error)%}
        <div class="error-summary govuk-error-message">
            {{error.text}}
        </div>
    {% endif %}

    <form id="createuserroleform" name="createuserform" method="POST" action="/createuserrole">
    
      {{ csrfProtection(csrfToken) }}
        <div class="form-group">
            <label class="form-label" for="userroles">User Roles</label>
            <input class="form-control" id="userroles" name="userroles" type="text"/><br><br> 
            <label class="form-label">Security Classifications</label>
            {{  serverList(securityClassifications, "classifiction")}}
        </div> 
        <button type="submit" class="button" value="Submit">{{submitButtonText}}</button>
    </form>
    </div>
  
  {% endblock %}


