{% extends "layout_template.njk" %}
{% from "components/csrf.njk" import csrfProtection %}
{% from "components/formElements.njk" import successBanner %}

{% block page_title %}
  User Roles
{% endblock %}

{% block head %}
  {{super()}}
  <script type="text/javascript">
  // var dataItemsPresent = {{dataItems is defined and dataItems.length > 0}};
  </script>
{% endblock %}

{% block container %}
<div class="padding">
  {{ successBanner(success) }}
  {% if (error)%}
    <div class="error-summary govuk-error-message">
      {{error.text}}
    </div>
  {% endif %}
 <a href="/create-user-role-form?save=create" class="govuk-button rightAlign" data-module="govuk-button">Create User Role</a>

 <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Role</th>
      <th scope="col" class="govuk-table__header">Security Classification</th>
      <th scope="col" class="govuk-table__header">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% if dataItems is not defined or dataItems.length == 0 %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"></td>
        <th scope="row" class="govuk-table__header">No User Roles found</th>
        <td class="govuk-table__cell"></td>
      </tr>
    {% else %}
      {% for userrole in userroles %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{userrole.role}}</th>
          <td class="govuk-table__cell">{{userrole.security_classification}}</td>
          <td class="govuk-table__cell">
            <form id="userrole_{{loop.index}}" method="post" action="/updateuserroleform" >
              {{ csrfProtection(csrfToken) }}
              <input type="hidden" name="role" value="{{userrole.role}}" />
              <input type="hidden" name="classification" value="{{userrole.security_classification}}" />
              <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">Update</button>
                <a href="/deleteitem?item=role&roleParameter={{userrole.role| urlencode}}" class="govuk-button govuk-button--warning">Delete</a>
              </div>
            </form>
          </td>
        </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>
</div>
{% endblock %}

